<!doctype html>
<html ng-app>
<head>
    <title>CouponBook</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/css/screen.css" media="all">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/global.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.1/angular.min.js"></script>
	<!-- <link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet" type="text/css" /> -->
</head>
<body ng-controller="couponCtrl">
	<div class="container">
		<ul class="tabs">

			<li class="tab" id="{coupon.title}" ng-repeat="coupon in couponList" ng-class="{active: currentTab == coupon.title}"><a href="#" ng-click="setCurrentTab(coupon.title)">{{coupon.title}}</a></li>

			<div class="blank"></div>
		</ul>

		<div class="book" ng-repeat="coupon in couponList" ng-show="currentTab == coupon.title">

			<div class="title">{{coupon.title}}</div>
			<div class="count">x {{coupon.count}}</div>
			<div class="detail">{{coupon.detail}}</div>
			<div class="debtee">Paid for courtesy of {{coupon.debtee}}</div>

		</div>
</body>
</html>
